.resumebox{
    margin: 3rem auto;
    width: 600px;
    height: auto;
    background: #6C779F;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumebtn{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    border: none;
    background: none;
    float: right;
}