.result{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.06em;
}

.title,
.suggestion{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
}
