.profileNav{
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    width: 30%;
    margin: 4rem 5rem 3rem 4rem;
    font-size: 25px;
    box-shadow: 5px 10px 8px 10px grey;
    border-radius: 2rem;
}

.profileNav img{
    width: 150px;
}

.profileNav button{
    padding: 1.5rem;
    background-color: transparent;
    border: none;
}

.profileNav button:hover{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #FF5E7C;
}

.profile:after{
    content: "";
    display: table;
    clear: both;
}

.profileContent{
    margin: 0 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    
}

.profileContent h1{
    font-family: 'Montserrat';
    margin-bottom: 1rem;
}

.dashboard, .myprofile{
    margin-top: 4rem;
    font-size: 20px;
    line-height: 4rem;
    font-weight: 200;
}

.dashboard button{
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    width: 200px;
    background: #ffb756;
}

.dashboard button:hover{
    background-color: black;
    color: #ffb756;
}

.myprofile button{
    height: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.myprofile button:hover{
    color: lightskyblue;
    text-decoration: underline;
}

.myprofile button:delete{
    background-color: red;
}

.payments p{
    align-items: left;
    padding-bottom: 2rem;
}

.payments button{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: -1.5rem;
    background-color: transparent;
    border: none;
}

.payments button:hover{
    color: lightskyblue;
    text-decoration: underline;
}