.workshop-heading{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.workshop-description{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.joinbtn{
    background: #FFB756;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 2rem auto;
    padding: 1rem 6rem;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    cursor: pointer;
    color: #000000;
    text-align: center;
    border: none;
  }

  .joinbtn:hover, .joinbtn:active {
    background-color: black;
    color: #FFB756;
    border: black;
  }